{% extends "base.html" %}
{% block title %}Journal Database - {{ catalog }}{% endblock %}
{% block body %}

<div class="container mt-4">
    <h1 class="mb-4">Revistas en el catalogo: {{ catalog }}</h1>
    
    <ul class="list-group">
        {% for journal in journals %}
        <li class="list-group-item mb-3">
            <h5 class="mb-1">
                <a href="/revista/{{ journal.id }}" class="text-decoration-none text-primary">
                    {{ journal.title }}
                </a>
            </h5>

            {% if journal.h_index %}
            <p class="mb-1"><strong>H-index:</strong> {{ journal.h_index }}</p>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
